@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.raone{
  font-family: 'Orbitron' , 'sans-serif';
  letter-spacing : 2px;
  text-transform : uppercase;
  
}

body {
  background: #0b0f19;
  color: white;
  font-family: Inter, sans-serif;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.gradient-text {
  background: linear-gradient(to right, #7c3aed, #06b6d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glow {
  box-shadow: 0 0 80px rgba(124, 58, 237, 0.35);
}